RUST_LOG=trace

TIMESCALEDB_HOST=localhost
TIMESCALEDB_PORT=6681

NATS_HOST=localhost
NATS_PORT=6682
NATS_PASSWORD=some.password

STATE_STREAM_NAME=controller-state
COMMANDS_STREAM_NAME=controller-commands
AGGREGATION_KV_NAME=aggregation
