RUST_LOG=debug

SERVER_NATS_HOST=nats.solarminer.energiesandsuch.com
SERVER_NATS_PORT=6682
SERVER_NATS_PASSWORD=some.password

PI_NATS_HOST=localhost
PI_NATS_PORT=4222
PI_NATS_PASSWORD=some.password

STATE_STREAM_NAME=controller-state
CONTROLLER_COMMANDS_STREAM_NAME=controller-commands
