RUST_LOG=debug

SERVER_NATS_HOST=nats.solarminer.energiesandsuch.com
SERVER_NATS_PORT=6682
SERVER_NATS_PASSWORD=some.password

PI_NATS_HOST=localhost
PI_NATS_PORT=4222
PI_NATS_PASSWORD=some.password

STATE_STREAM_NAME=controller-state
CONTROLLER_COMMANDS_STREAM_NAME=controller-commands

# Solaredge

TZ=Europe/Berlin

SE2MQTT_LOGGING_LEVEL=INFO

SE2MQTT_MODBUS__HOST=192.168.2.101
SE2MQTT_MODBUS__PORT=1502
# Check grid status
SE2MQTT_MODBUS__CHECK_GRID_STATUS=true
# Modbus unit address whats this?
#SE2MQTT_MODBUS__UNIT=1
SE2MQTT_INTERVAL=5

SE2MQTT_MQTT__BROKER=nats
SE2MQTT_MQTT__USERNAME=fabi
#SE2MQTT_MQTT__CLIENT_ID=solaredge2mqtt
#SE2MQTT_MQTT__PORT=1883
#SE2MQTT_MQTT__PASSWORD=s3cr3t # set password via secret file
#SE2MQTT_MQTT__TOPIC_PREFIX=solaredge

# Save power values to InfluxDB set your host (e.g. http://localhost)
SE2MQTT_INFLUXDB__HOST=localhost
SE2MQTT_INFLUXDB__PORT=8181
#SE2MQTT_INFLUXDB__TOKEN=
#SE2MQTT_INFLUXDB__ORG=
SE2MQTT_INFLUXDB__BUCKET=solaredge
#SE2MQTT_INFLUXDB__RETENTION=63072000
#SE2MQTT_INFLUXDB__RETENTION_RAW=25 # hours

# Location
#SE2MQTT_LOCATION__LATITUDE=
#SE2MQTT_LOCATION__LONGITUDE=

# Set price you pay per 1 kWh for energy you get from grid
#SE2MQTT_PRICES__CONSUMPTION=
#SE2MQTT_PRICES__DELIVERY=

# Enable integrated machine learning forecast (default false)
#SE2MQTT_FORECAST__ENABLE=false
#SE2MQTT_WEATHER__LANGUAGE=en
#SE2MQTT_WEATHER__API_KEY= # openweather
